<a href="https://colab.research.google.com/github/Maxidc1103/cfp10/blob/main/tp3_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Ejercicio 1

Utiliza las funciones de concatenar, + y repetir string, `*`, junto con la funcion `print()` para dados los suiguientes strings s1, s2, s3, s4, conseguir el resultado siguiente: **habia una vez, un barco chiquitito, habia una vez, un barquito chiquitito, que no podia, que no podia, que no podia navegar.**

In [ ]:
s1 = "Habia una vez, "
s2 = "un barco chiquito, "
s3 = "que no podia, "
s4 = "que no podia navegar."
s1 + s2 + s1 + s2 + s3 * 2 + s4

'Habia una vez, un barco chiquito, Habia una vez, un barco chiquito, que no podia, que no podia, que no podia navegar.'

###Ejercicio 2

Utiliza la funcion `print()` y el comando de salto de linea, \n, para reproducir exactamente el siguiente texto:

Erase un hombre a una nariz pegado,
Erase una nariz superlativa,
Erase una alquitara medio viva,
Erase un peje espada mal barbado;

In [ ]:
s1 = "Érase un hombre a una nariz pegada,\nÉrase una nariz superlativa,\nÉrase una alquitara medio viva,\nÉrase un peje espada mal barbado;"
print(s1)

Érase un hombre a una nariz pegada,
Érase una nariz superlativa,
Érase una alquitara medio viva,
Érase un peje espada mal barbado;

### Ejercicio 3

Transforma el siguiente string s a mayusculas y muestralo por pantalla con la funcion `print()`

In [ ]:
s = "me encantan las matematicas"
s.upper()

'ME ENCANTAN LAS MATEMATICAS'

###Ejercicio 4

Calcula la longitud del string s

In [ ]:
s = "Mi pasion por el chocolate es superior a mis fuerzas"
len(s)

52

### Ejercicio 5

Del string s del ejercicio anterior, obten el substring chocolate y guardalo en una variable llamada s_sub. No vale contar, deberas hallar los indices del substring con el metodo `.find()` (o el que mejo consideres) y la funcion `len()`.

Finalmente, imprime tu resultado por pantalla

In [ ]:
s = "Mi pasion por el chocolate es superior a mis fuerzas"
s.find("chocolate")

17

In [ ]:
s_sub = s[s.find("chocolate"): s.find("chocolate")+len("chocolate")]
s_sub

'chocolate'

In [ ]:
len("chocolate")

9

###Ejercicio 6

Con la funcion `input()`, indicale al usuario que introduzca su nombre y guardelo en la variable llamada `nombre`

In [1]:
nombre = input("Ingrese su nombre: ")

Ingrese su nombre: Maxi

###Ejercicio 7

Con la funcion `input()`, indicale al usuario que introduzca su apellido y guardelo en la variable llamada `apellido`

In [2]:
apellido = input("Ingrese su apellido: ")

Ingrese su apellido: Dabalo Carrizo

###Ejercicio 8

Con la funcion`input()`, indicale al usuario que introduzca su edad y guardelo en la variable `edad`

In [3]:
edad = input("Introduzca su edad: ")

Introduzca su edad: 19

###Ejercicio 9

Con la funcion `input()`, indicale al usuario que introduzca su edad y guardelo en la variable `ciudad`

In [4]:
ciudad = input("Introduzca su ciudad: ")

Introduzca su ciudad: Provincia de Buenos Aires

###Ejercicio 10

Con lo hecho en el ejercicio 6, 7, 8 y 9 imprime por pantalla todos los datos introducidos por el usuario tal y como se muestra en el siguiente ejemplo donde el usuario a indicado que su nombre es Maria; su apellido, Santos; su edad, 21 y su ciudad es, Palma de Mayorca.

Su nombre es Maria Santos, tiene 21 años y actualmente vive en Palma de Mayorca

In [10]:
nombre = input("Introduzca su nombre y : ")
apellido = input("Introduzca su apellido: ")
edad = input("Introduzca su edad: ")
ciudad = input("Introduzca su ciudad: ")

Introduzca su nombre y : Maria
Introduzca su apellido: Santos
Introduzca su edad: 21
Introduzca su ciudad: Palma de Mayorca

In [12]:
print("su nombre es {} {}, tiene {} y actualmente vive en {}".format(nombre, apellido, edad, ciudad))

su nombre es Maria Santos, tiene 21 y actualmente vive en Palma de Mayorca